$primary: #FF7D5D;
$secondary: #57D09B;
$tertiary: #254441;
$quaternary: #E6BD4C;
$quinary: #121922;


// for opacity
$color1: rgba(255, 111, 89, 1);
$color2: rgba(37, 68, 65, 1);
$color3: rgba(230, 189, 76, 1);
$color4: rgba(18, 25, 34, 1);
$color5: rgba(105, 220, 158, 1);

// Typography
$font-primary:'Roboto', sans-serif;
$font-secondary:'Leckerli One', cursive;

//flash messages
