.footer{
  color: white;
  background-color: $quinary;
  font-family: $font-primary;
  position: fixed;
  display: block;
  padding: 2rem;
  left: 0px;
  bottom: 0px;
  width: 100%;
  i{
    color: white;
  }
  h1{
    font-family: $font-secondary;
    margin-top: -1rem;
    color: white;

  }
}
.mcmuffin{
  width: 30px;
}
