// home page animation start
.home-page {
  height: 700px;
  max-width: 318px;
  background-color: $primary;
  // background-color: #57D09B;
  z-index: 1;
}

.button-home-page {
  margin-left: 18%;
  width: 200px;
  background-color: $secondary;
  font-family: $font-secondary;
  font-size: 30px;
  border: none;
  color: $tertiary;
}

.image-gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

}
.list-item-in-gallery {
  position: absolute;
  left: 50%;
  margin-left: -600px;
  // margin-top: 3%;
}
.image-in-gallery{
  width: 1500px;
  height: 700px;
}
.logo {
  height:auto;
  width: 40px;
  border-radius: 50%;
}
.main-title {
  font-size: 50px;
  color: $quinary;
  z-index: 2;
  padding-top: 40%;
  font-family: $font-secondary;
  margin-left: 10%;

}

#one {
  animation: xfade 16s 0s infinite;
}
#two {
  animation: xfade 16s 4s infinite;
}
#three {
  animation: xfade 16s 8s infinite;
}
#four {
animation: xfade 16s 12s infinite;
}
@keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
// home page animation end
