.homepage{
  background-color: $quinary;
  .image-gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    li{
      position: absolute;
    }
    img{
      width: 1600px;
      height: 700px;
    }
  }
}
//
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#one {
  animation: xfade 16s 0s infinite;
}
#two {
  animation: xfade 16s 4s infinite;
}
#three {
  animation: xfade 16s 8s infinite;
}
#four {
animation: xfade 16s 12s infinite;
}
@keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
// home page animation end

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer{
      display: none;
    }
}

.hero-overlay{
  color: white;
  margin-top: 10%;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
  .hero-title{
  font-size: 4rem;
  font-family: $font-secondary;
  }
}
