
//header for profile page - user info
.hero-body {
  background-color: #57D09B;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 25px;
}

.hero-body .image img {
  margin-top: 50px;
  border: solid grey 1px;
  border-radius: 50%;
  background-color: white;
}

//styling for the profile pic, username and bio
.media-content-image img {
  background-color: red;
  align-items: center;
}

.media-content {
  max-width: 400px;
}

//sytling for the edit and delete button placement
.media-right {
  float: right;
}

//sytle entire fav section
.media-recipesFav {
  padding: 40px;
  border: solid red 1px;
}

.media-recipesFav h2 {
  font-size: 18px;
}

.media-recipesFav img {
  border: solid red 1px;
  padding: 20px;
  position: absolute;
}

.card-content {
  border: solid red 1px;
  padding: 20px;
}

// .card {
//   background-color: grey;
//   max-width: 400px;
//   max-height: 300px;
// }
