
.hero-body {
  background-color: #FF7D5D;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 25px;
}

.div.container {
  display: inline-block;
  vertical-align: middle;

}

.hero-body .image img {
  margin-top: 50px;
  border: solid grey 1px;
  border-radius: 50%;
  background-color: white;



}
