<!-- SEARCH BAR -->
<form ng-submit="search(ingredients)">
  <div class=section>
    <input ng-model="ingredient" ng-change="autoSearch()" id="ingredients" class="input has-text-centered" placeholder="» » » » » » Search« « « « « «">
    <button class="button is-danger">Search</button>

    <ul ng-if="suggestions.length > 0">
      <li ng-repeat="suggestion in suggestions" ng-click="setIngredient(suggestion)">
        {{ suggestion.name }}
      </li>
    </ul>

  </div>
</form>

<!-- cards displaying recipes -->
<div class="columns is-multiline">
  <div class="column is-one-third-desktop" ng-repeat="recipe in recipes">

    <a ui-sref="recipesShow({ id: recipe.id })">
      <bulma-card image="recipe.image" title="recipe.title"></bulma-card>
    </a>

  </div>
</div>
