<section class="recipe-show">
<div class="columns is-multiline">
  <div class="column is-half-desktop">

    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img ng-src="{{ recipe.image }}" alt="{{ recipe.title }}">
        </figure>
      </div>
  </div>
</div>

  <div class="column is-half-desktop">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ recipe.title }}</p>
            <p class="subtitle is-6">Cooking time: {{ recipe.readyInMinutes}} minutes</p>
            <p class="subtitle is-6">Serves: {{ recipe.servings}}</p>
            <p class="subtitle is-6" ng-bind-html="recipe.diets"></p>
            <p class="subtitle is-6">Missing Ingredients:</p>
            <ul>
            <li ng-repeat="ingredient in recipe.extendedIngredients">{{ ingredient.name }}</li>
          </ul>
          </div>
          <div class="buttons">
            <a class="button">Add to Favourites</a>
            <a class="button" ui-sref="recipesIndex">Back to Search</a>
        </div>
      </div>
    </div>
</div>


    <div class="columns is-multiline">
      <div class="column">
      <div class="media-content">
        <h1 class="title">Instructions</h1>
        <p class="subtitle is-6" ng-bind-html="recipe.instructions"></p>
      </div>
    </div>
    </div>



</section>
