<div class="columns is-multiline">
  <div class="column is-half-desktop">

    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img ng-src="{{ recipe.image }}" alt="{{ recipe.title }}">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ recipe.title }}</p>
            <p class="subtitle is-6" ng-bind-html="recipe.instructions"></p>
          </div>
        </div>
        <div class="content">

         <a></a>.
          <a href="#"></a> <a href="#"></a>
          <br>
        </div>
      </div>
    </div>

  </div>
</div>
