<section class="homepage">
  <div class="hero-image">
    <div class="image-gallery">
      <ul>
        <li class="list-item-in-gallery" id="one">
          <img class="image-in-gallery" src="http://cdn.playbuzz.com/cdn/263bde0d-bb10-4793-84cf-e839ad272e8a/a5346be5-308a-40cd-85c9-cee115f062e6.jpg">
        </li>
        <li class="list-item-in-gallery" id="two">
          <img class="image-in-gallery" src="https://images.unsplash.com/photo-1522248105696-9625ba87de6e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=662c7d03dfaa432cad1df74a0b8041fb&auto=format&fit=crop&w=967&q=80">
        </li>
        <li class="list-item-in-gallery" id="three">
          <img class="image-in-gallery" src="https://images.unsplash.com/photo-1518646261099-bd070a676912?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4948465739b5a76034aae5380d2f8b67&auto=format&fit=crop&w=1050&q=80">
        </li>
        <li class="list-item-in-gallery" id="four">
          <img class="image-in-gallery" src="https://images.unsplash.com/photo-1514536958296-436f46226e74?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=386a4c390c6c0c611806948ab3a45a87&auto=format&fit=crop&w=1050&q=80">
        </li>
      </ul>
    </div>
  </div>

  <div class="container hero-overlay">
    <p class="hero-title">What's in my fridge?</p>
    <p class="hero-subtitle">Reduce your food wastage and make something wonderful today!</p>
  </div>
</section>
