<!DOCTYPE html>
<html ng-app="fridgeAPI">
<head>
  <meta charset="utf-8">
  <title>What's in my fridge?</title>
</head>
<body>

  <nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" ui-sref="home">Home</a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" ng-class="{ 'is-active': navbarOpen }" ng-click="toggleMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" ng-class="{ 'is-active': navbarOpen }">
    <div class="navbar-start">
      <a class="navbar-item" ui-sref="profile({ id: user._id })">Profile</a>
      <a class="navbar-item" ui-sref="recipesIndex">Search</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" ui-sref="login" ng-if="!isAuthenticated()">Login</a>
      <a class="navbar-item" ui-sref="register" ng-if="!isAuthenticated()">Register</a>
      <a class="navbar-item" ng-click="logout()" ng-if="isAuthenticated()">Logout</a>
    </div>
  </div>
</nav>
  <ui-view></ui-view>
</body>
</html>
