<!DOCTYPE html>
<html ng-app="fridgeAPI">
<head>
  <meta charset="utf-8">
  <title>WDI32 Group Project</title>
</head>
<body>

  <nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" ui-sref="home">Home</a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" ng-class="{ 'is-active': navbarOpen }" ng-click="toggleMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" ng-class="{ 'is-active': navbarOpen }">
    <div class="navbar-end">
      <a class="navbar-item" ui-sref="login" ng-if="!isAuthenticated()">Login</a>
      <a class="navbar-item" ui-sref="register" ng-if="!isAuthenticated()">Register</a>
      <a class="navbar-item" ng-click="logout()" ng-if="isAuthenticated()">Logout</a>
    </div>
  </div>
</nav>

  <div class="section">
        <div class="box">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input has-text-centered" type="search" placeholder="» » » » » » Search« « « « « «">
            </div>
              <div class="control">
                <a class="button is-danger">Search</a>
              </div>
          </div>
        </div>
      </div>

  <h1>WDI32 Group Project</h1>

  <ui-view></ui-view>

</body>
</html>
