// @import '~bulma/sass/utilities/initial-variables';
// @import '~bulma/sass/utilities/derived-variables';
@import '~bulma';
@import 'helpers/variables';

@import 'components/footer';
@import 'components/home';
@import 'components/about';
@import 'components/nav';
@import 'components/login';
@import 'components/profile';
@import 'components/profileEdit';
@import 'components/recipeIndex';
@import 'components/recipeShow';


@import 'partials/base';
@import 'partials/buttons';
@import 'partials/profileImage';
@import 'partials/flashMessage';
