<section class="hero is-primary">
  <div class="hero-body">
      <div class="media-edit-image">
        <p class="image is-128x128">
          <img src="{{ data.image }}" ng-if="data.image">
        </p>
      </div>
    <article class="media">
      <div class="media-edit-content">
        <div class="content-form">
          <form ng-submit="updateUser()">
          <p>
            <div class="field">
              <label class="label" for="image">Image Upload</label>
              <button class="button" id="image" name="image" placeholder="Image" file-picker ng-model="data.image">Choose File</button>
            </div>
            <div class="field">
              <label class="label" for="username">Username</label>
              <input class="input" id="name" name="name" placeholder="Name" ng-model="data.username"/>
            </div>
            <div class="field">
              <label class="label" for="bio">bio</label>
              <textarea class="textarea" id="bio" name="bio" placeholder="bio" ng-model="data.bio"></textarea>
            </div>
          </p>
            <div class="update-button">
              <button class="button">Update</button>
            </div>
        </form>
        </div>
      </div>
    </article>
  </div>
</section>
